.profile h1 {
	width: 100%;
	background-color: #3faef7;
	color: white;
}

.formy {
	background-color: #3faef7;
	margin: 0 auto;
	color: white;
	max-width: 60%;
	padding: 20px;
	border-radius: 5px;
	padding-bottom: 40px;
}

.formy h2 {
}

.formy input {
	width: 50%;
	display: inline-block;
	border: 0;
	padding: 10px;
	border-radius: 3px;
	margin: 0 auto;
	margin-right: 5px;
}

.formy button {
	padding: 10px 15px;
	border-radius: 3px;
	background-color: #f73f52;
	color: white;
	border: none;
}

.formy button:hover {
	cursor: pointer;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
