* {
	box-sizing: border-box;
}

.body {
	background-image: url('https://images.pexels.com/photos/606540/pexels-photo-606540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-bottom: 60px;
}

.result {
	max-width: 760px;
	margin: none;
	margin: 50px auto;
	padding: 0 30px 30px 30px;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
}

.result h1 {
	text-decoration: solid;
	display: inline-block;
	padding: 10px;
	background-color: #3faef7;
	color: white;
	width: 100%;
	border-radius: 5px;
}

.result img {
	width: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
}

.result h3 {
	padding: 10px;
	background-color: #3faef7;
	color: white;
	width: 50%;
	border-radius: 5px;
	margin: 20px auto;
}
